@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#contacto {
    background-color: black;
    color: antiquewhite;
}

.letra-arial {
    font-family: 'Courier New', Courier, monospace;
}

* {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

#contacto > h1 {
    color: blue;
}